<div class="heading col-lg-10">
    <h3 class="lead ">Questions & Answer</h3>
  </div>
  <!-- c1 -->
      <div class="card-container col-lg-4 col-md-6 col-sm-10 ">
          <div class="card card-front">
            <div class="card-body text-white">
              <h1 class="card-title">Question</h1>
      
            <p class="card-text"><b>Why MongoDB is better?</b></p>
            
          </div>
          </div>
      
          <div class="card card-back">
            <div class="card-body text-white ">
              <h3 class="card-title">Answer</h3>
              <p class="card-text">The ability to derive a document-based data model is one of the most attractive advantages of MongoDB. Because, the way it stores the data in the form of BSON (Binary JSON), ruby hashes etc, helps to store the data in a very rich way while being capable of holding arrays and other documents.</p>
              <a class="social-link" href="#">
                  <i class="far fa-thumbs-up"></i>  
              </a>
              &nbsp;
              &nbsp;
              &nbsp;
              <a class="social-link" href="#">
                 <i class="far fa-thumbs-down"></i>

                </a>
            </div>
          </div>
        </div>
    <!-- c2 -->
    <div class="card-container col-lg-4 col-md-6 col-sm-10">
        <div class="card card-front">
          <div class="card-body text-white ">
            <h1 class="card-title">Question</h1>
    
          <p class="card-text"><b>Why NODEjs is better?</b></p>
          </div>
        </div>
    
        <div class="card card-back ">
          <div class="card-body text-white ">
            <h3 class="card-title">Answer</h3>
            <p class="card-text">The ability to derive a document-based data model is one of the most attractive advantages of MongoDB. Because, the way it stores the data in the form of BSON (Binary JSON), ruby hashes etc, helps to store the data in a very rich way while being capable of holding arrays and other documents.</p>
            <a class="social-link" href="#">
                <i class="far fa-thumbs-up"></i>  
            </a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a class="social-link" href="#">
               <i class="far fa-thumbs-down"></i>

              </a>
        </div>
        </div>
      </div>
      <!-- c3 -->
      <div class="card-container col-lg-4 col-md-6 col-sm-10">
          <div class="card card-front">
            <div class="card-body text-white ">
              <h1 class="card-title">Question</h1>
            <p class="card-text"><b>What are the benefits of learning Python?</b></p>
            </div>
          </div>
      
          <div class="card card-back ">
            <div class="card-body text-white  ">
              <h3 class="card-title">Answer</h3>
              <p class="card-text">There are many benefits of learning Python, especially as your first language, which we will discuss.
  
  It is a language that is remarkably easy to learn, and it can be used as a stepping stone into other programming languages and frameworks. If you're an absolute beginner and this is your first time working with any type of coding language, that's something you definitely want.
   </p>
   <a class="social-link" href="#">
    <i class="far fa-thumbs-up"></i>  
</a>
&nbsp;
&nbsp;
&nbsp;
<a class="social-link" href="#">
   <i class="far fa-thumbs-down"></i>

  </a>
            </div>
          </div>
        </div>
  
        <!-- c4 -->
        <div class="card-container col-lg-4 col-md-6 col-sm-10">
            <div class="card card-front">
              <div class="card-body text-white ">
                <h1 class="card-title">Question</h1>
        
              <p class="card-text"><b>Why I learn Java?</b></p>
              </div>
            </div>
        
            <div class="card card-back ">
              <div class="card-body text-white ">
                <h3 class="card-title">Answer</h3>
                <p class="card-text">Java is easy to learn. Java was designed to be easy to use and is therefore easy to write, compile, debug, and learn than other programming languages.
                    Java is object-oriented. This allows you to create modular programs and reusable code.
                    Java is platform-independent.
                     </p>
                     <a class="social-link" href="#">
                        <i class="far fa-thumbs-up"></i>  
                    </a>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <a class="social-link" href="#">
                       <i class="far fa-thumbs-down"></i>
      
                      </a>
              </div>
            </div>
          </div>